<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24972070966-sev0uglbuns1ffffkqiop05dpccd4a5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24972070966-sev0uglbuns1ffffkqiop05dpccd4a5n</string>
	<key>API_KEY</key>
	<string>AIzaSyATz7vrQcaElcYSuMTJFnCDnaUSOUhDiYo</string>
	<key>GCM_SENDER_ID</key>
	<string>24972070966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophie.fitness</string>
	<key>PROJECT_ID</key>
	<string>bravefit-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>bravefit-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24972070966:ios:0059f9255794a9664ec897</string>
	<key>DATABASE_URL</key>
	<string>https://bravefit-prototype.firebaseio.com</string>
</dict>
</plist>